<ion-tabs>

  <ion-tab tab="people">
    <ion-router-outlet name="people"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="messages">
    <ion-router-outlet name="messages"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="expenses">
    <ion-router-outlet name="expenses"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="time-off">
    <ion-router-outlet name="time-off"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="settings">
    <ion-router-outlet name="settings"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="people" href="/app/tabs/(people:people)">
      <ion-icon name="person"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="messages" href="/app/tabs/(messages:messages)">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expenses" href="/app/tabs/(expenses:expenses)">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="time-off" href="/app/tabs/(time-off:time-off)">
      <ion-icon name="clock"></ion-icon>
      <ion-label>Time Off</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/app/tabs/(settings:settings)">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>            
  </ion-tab-bar>

</ion-tabs>
